* {
  font-family: "Neue Haas Unica", sans-serif;
  font-size: 15px;
}

body {
  background-color: black;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url(/fonts/NeueHaasUnica-Medium.woff2);
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url(/fonts/NeueHaasUnica-ExtraBold.woff2);
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url(/fonts/NeueHaasUnica-Regular.woff2);
}

button {
  padding: 24px 29px;
  background: #d7ff61;
  border-radius: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

button:hover {
  background-color: #bce14c;
}

button:active {
  background-color: #d7ff61;
}

button:focus {
  outline: none;
}

section {
  margin-bottom: 100px;
}

.title {
  font-weight: 800;
  font-size: 104px;
  line-height: 112px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.card__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 56px;
  margin-bottom: 40px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_1 {
  background: none;
  color: #b7b7b7;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-right: 16px;
  cursor: pointer;
  transition: all 0.3s linear;
  border: none;
}

.button_1:hover {
  color: white;
  background: none;
}

.button_1:active {
  color: #b7b7b7;
  outline: none;
  background: none;
}

.button_2 {
  padding: 10px 16px;
  border: 1px solid #d7ff61;
  border-radius: 48px;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #d7ff61;
  cursor: pointer;
  margin-right: 22px;
  transition: all 0.3s linear;
}

.button_2 i {
  font-size: 20px;
  margin-left: 8px;
}

.button_2:hover {
  background-color: #d7ff61;
  color: #000000;
}

.button_2:active {
  color: #d7ff61;
  background: none;
}

.button_button {
  background: none;
  border: 1px solid #494949;
  border-radius: 10px;
  padding: 9px 6px;
  margin-right: 14px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.button_button:hover {
  background-color: #ff4c21;
}

.button__arrow {
  display: flex;
  margin-right: 16px;
}

.button__text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #b7b7b7;
  margin-right: 8px;
}

.arrow {
  font-size: 20px;
  color: #b7b7b7;
  transform: rotate(-45deg);
}

.header__select {
  text-align: center;
  color: white;
  padding: 10px 40px 10px 16px;
  border-radius: 48px;
  appearance: none;
  background: url(../icons/header/expand_more.svg) center right no-repeat;
  background-position-x: calc(100% - 16px);
  transition: all 0.3s linear;
}

.header__select:focus {
  outline: none;
}

.header__select:hover {
  background-color: #bce14c;
}

/* Middle buyer section */

.buyer {
  min-height: 338px;
  padding: 0 16px;
  margin-bottom: 6px;
}

.buyer__button button {
  background-color: transparent;
  color: #bce14c;
  transition: all 0.3s linear;
}

.buyer__button i {
  transform: rotate(180deg);
  margin-right: 8px;
  transition: all 0.3s linear;
}

.buyer__button:hover > button {
  color: #879e43;
}

.buyer__container {
  background-color: white;
  border-radius: 32px;
  padding: 24px 24px 41px 40px;
}

.buyer__text {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}

.buyer__text_middle {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.middle__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ff4c21;
  margin-right: 12px;
}

.middle__text_line {
  width: 24px;
  height: 0;
  border: 1px solid #ff4c21;
  transform: rotate(90deg);
  margin-right: 12px;
}

.buyer__text_bottom {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

/* Offer section */

.offer {
  padding: 0 16px;
  margin-bottom: 8px;
}

.offer__container {
  background-color: white;
  border-radius: 32px;
  padding: 46px 97px 41px 40px;
}

.offer__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block__title {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 16px;
}

.block__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.block__cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  margin-bottom: 64px;
}

.block__cards_bottom {
  margin-bottom: 0;
}

.block__card {
  display: flex;
  flex-direction: column;
  margin-right: 39px;
  margin-bottom: 72px;
}

.block__card_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ff4c21;
  margin-bottom: 4px;
}

.block_card_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.block_button > button {
  width: 37%;
}

/* Questions */

.questions {
  padding: 0 16px;
}

.questions__container {
  display: flex;
  border: 1px solid white;
  border-radius: 32px;
  padding: 40px 280px 48px 100px;
}

.questions__icon {
  margin-right: 138px;
}

.questions__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questions__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}

.questions__email {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  transition: all 0.3s linear;
  margin-bottom: 30px;
}

.questions__email:hover {
  color: #d7ff61;
}

.questions__button > button {
  width: 80%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 48px;
}

.questions__button i {
  margin-left: 8px;
}

.questions__button > button:hover {
  background-color: white;
  color: #ff4c21;
}

/* Footer  */

.footer {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  padding: 0 16px;
}

.footer__line {
  width: 100%;
  height: 0;
  border: 1px solid white;
}

.footer__container {
  display: flex;
  padding: 32px 240px 17px 56px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  margin-right: 132px;
}

.footer__text_bottom {
  width: 220px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.links__container {
  display: flex;
  flex-direction: column;
  margin-right: 103px;
}

.links__container:nth-child(2) {
  margin-right: 239px;
}

.links__container > a {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 8px;
  transition: all 0.3s linear;
}

.links__container > a:hover {
  color: #959595;
}
